
body {
background-color: burlywood;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.header_container {
  text-align: center;
}
.header {
  color: rgb(255, 255, 0);
  text-shadow: 3px 3px blue;
  background-color: rgb(255, 205, 140);
  font-size: 100px;
}
.card{
  border: 7px ridge;
  border-top-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  border-right-color: rgb(71, 71, 71);
  border-bottom-color: rgb(71, 71, 71);
  outline: 2px solid black;
  padding: 1em;
  background-color: rgb(116, 116, 116);

}

img {
  border: 3px solid rgb(255, 255, 255);
  outline: 2px solid black;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
button {
  width: 8vw;
  height: 4vh;
  border-style: outset;
  border-width: 5px 5px;
  background-color: rgb(169, 169, 169);
}
button:hover {
  background-color: rgb(169, 169, 169);
  background-color: rgb(66, 66, 66);
}